---
import { clsx } from 'clsx';
import LogosScroll from '../LogosScroll.svelte'
import {companies} from "../../data/companies.ts";
---
<section class={clsx("container p-0 overflow-hidden relative", Astro.props.class)}>
    <LogosScroll class="flex items-center h-16 sm:h-30 animate-scroll w-max" client:load>
      {companies.map((company) => (
        <a href={company.href} target="_blank" rel="noopener noreferrer" class="flex-none block mx-4 sm:mx-15" aria-label={company.alt}>
            <img src={`/clients/${company.image}`} alt={company.alt} class="h-3 sm:h-4 w-auto" />
        </a>
      ))}
    </LogosScroll>
</section>
