---
import { clsx } from "clsx";
import LogosScroll from "../LogosScroll.svelte";

const companies = [
  {
    image: "ahrefs.svg",
    alt: "Ahrefs",
    href: "https://ahrefs.com",
    class: "h-4 w-auto sm:h-5",
  },
  {
    image: "filz.svg",
    alt: "Filz",
    href: "https://www.filiz.io",
    class: "h-7 w-auto sm:h-8",
  },
  {
    image: "wolfia.svg",
    alt: "Wolfia",
    href: "https://www.wolfia.com",
    class: "h-6 w-auto sm:h-7",
  },
  {
    image: "t4g.svg",
    alt: "T4G",
    href: "https://t4g.io",
    class: "h-4 w-auto sm:h-4",
  },
  {
    image: "blaxel.svg",
    alt: "Blaxel",
    href: "https://blaxel.ai",
    class: "h-4 w-auto sm:h-4",
  },
  {
    image: "typebot.svg",
    alt: "Typebot",
    href: "https://typebot.io",
    class: "h-5 w-auto sm:h-6",
  },
  {
    image: "jimo.svg",
    alt: "Jimo",
    href: "https://jimo.ai",
    class: "h-6 w-auto sm:h-7",
  },
  {
    image: "normal.svg",
    alt: "Normal",
    href: "https://normalcomputing.ai",
    class: "h-3 w-auto sm:h-4",
  },
];
---

<section class={clsx("p-0 overflow-hidden relative", Astro.props.class)}>
  <LogosScroll class="flex h-16 w-max items-center sm:h-30" client:load>
    {
      companies.map((company) => (
        <a
          href={company.href}
          target="_blank"
          rel="noopener noreferrer"
          class="mx-4 flex w-30 flex-none items-center justify-center sm:mx-15 sm:w-50"
          aria-label={company.alt}
        >
          <img
            src={`/clients/${company.image}`}
            alt={company.alt}
            class={company.class}
          />
        </a>
      ))
    }
  </LogosScroll>
</section>
