---
import Layout from "../layouts/Layout.astro";
import Logos from "../components/block/Logos.astro";
import Testimonials from "../components/block/Testimonials.astro";
import Button from "../components/ui/Button.svelte";
import Badges from "../components/Badges.svelte";
import YCImage from "../assets/photos/ycombinator.png";
import ResponsiveImage from "../components/ui/ResponsiveImage.astro";
import { companies } from "../data/companies.ts";
import DealForm from '../components/DealForm.svelte'
import YCcompany from "../components/YCcompany.astro";

import BlaxelLogo from '../assets/companies/blaxel.png';
import WhalyLogo from '../assets/companies/whaly.png';
import AirweaveLogo from '../assets/companies/airweave.png';
import AlturLogo from '../assets/companies/altur.png';
import KestrelLogo from '../assets/companies/kestrel.png';
---

<Layout
  title="From Chaos to Compliance — in a few weeks."
  description="Get SOC 2, GDPR, HIPAA, and ISO certified in just one week. Open-source compliance management platform with no vendor lock-in. Backed by Y Combinator."
>
  <section
    class="container my-10 flex flex-col gap-6 sm:my-20 sm:flex-row sm:items-center sm:justify-between"
  >
    <div class="max-w-[424px]">
      <div class="overflow-hidden">
        <h1 class="text-h2 mb-4 font-medium animate-perspective-in">
          From Chaos to Compliance — in a few weeks.
        </h1>
      </div>
      <div class="overflow-hidden">
        <p class="text-muted-foreground mb-6 text-lg animate-perspective-in animation-delay-100">
          Probo is an open-source platform that acts as your in-house compliance
          team, handling policies, documentation, processes, risk assessments, and
          more, so you can stay focused on what matters.
        </p>
      </div>
      <DealForm class="flex flex-col gap-3" client:load>
        <input
          class="border-border-mid placeholder:text-quaternary h-12 w-full rounded-lg border px-3 animate-perspective-in animation-delay-200"
          type="email"
          name="email"
          required
          placeholder="Enter your email"
          aria-label="Enter your email"
        />
        <input
          class="border-border-mid placeholder:text-quaternary h-12 w-full rounded-lg border px-3 animate-perspective-in animation-delay-300"
          name="link"
          type="url"
          required
          placeholder="Your YC verification link"
          aria-label="Your YC verification link"
        />
        <Button type="submit" size="lg" class="text-base animate-perspective-in animation-delay-350">Claim deal</Button>
        <a
          href="#"
          class="text-tertiary-foreground text-center underline sm:text-start animate-fade-in animation-delay-450"
        >
          Get your verification link
        </a>
      </DealForm>
    </div>
    <Badges
      count={9}
      countMobile={3}
      client:load
      class="grid grid-cols-3 sm:w-[380px] sm:gap-10 animate-fade-in animation-delay-150"
    />
  </section>

  <Logos class="animate-fade-in animation-delay-500" />

  <section
    class="container my-20 flex flex-col gap-10 sm:my-30 sm:flex-row sm:items-center sm:gap-20"
  >
    <ResponsiveImage
      src={YCImage}
      alt=""
      mobile={[500, 500]}
      sm={[500, 660]}
      class="shadow-image aspect-square w-full max-w-[500px] flex-none rounded-2xl object-cover sm:aspect-500/660 sm:w-[500px] animate-slide-in animation-delay-350"
    />
    <div class="text-muted-foreground space-y-6 text-lg">
      <h2 class="text-h3 text-foreground font-medium  animate-slide-in animation-delay-450">Our YC Story</h2>
      <div class="animate-slide-in animation-delay-550">
        <p>
          Instead of building yet another “classic SaaS,” we chose a different
          path: delivering an end-to-end compliance service. We don’t just give
          companies tools to achieve SOC 2 in record time - we run the compliance
          for them.
        </p>
        <p>
          That ambition came with a price: time. At one point we were handling
          more clients in parallel than Bryan and I could realistically support.
          Bryan even stepped in as a full-time compliance officer. We kept our
          standards high, even saying no to new clients rather than compromising
          on quality.
        </p>
        <p>
          Today, things are almost back under control. Our processes are stronger,
          our team is growing (reach out if you are a CISO or compliance officer),
          and we are back on track toward our objectives.
        </p>
        <p>
          YC was the best thing that could have happened to us and Probo: Doing
          things than don’t scale is hard, but it’s worth it!
        </p>
        <p>— Antoine Bouchardy, Co-founder & CEO</p>
      </div>
    </div>
  </section>

  <section class="container my-20 sm:my-30">
    <h2 class="text-h3 mb-12 text-center font-medium">
      YC companies using Probo
    </h2>
    <div
      class="companies-grid grid grid-cols-2 place-items-center sm:grid-cols-4"
    >
      <YCcompany
        logo={BlaxelLogo}
        badge="W25"
        name="Blaxel"
        href="https://blaxel.ai/"
        height={24}
        />
      <YCcompany
        logo={WhalyLogo}
        badge="W25"
        name="Whaly"
        href="https://whaly.io/"
        height={32}
      />
      <YCcompany
        logo={AirweaveLogo}
        badge="W25"
        name="Blaxel"
        href="https://airweave.ai/"
        height={20}
      />
      <YCcompany
        logo={AlturLogo}
        badge="W25"
        name="Altur"
        href="https://www.altur.io/en"
        height={20}
      />
      <YCcompany
        logo={KestrelLogo}
        badge="W25"
        name="Kestrel"
        href="https://usekestrel.ai/"
        height={16}
      />
    </div>
  </section>

  <Testimonials />
</Layout>

<style>
  @media (max-width: 639px) {
    .companies-grid > *:nth-child(8) ~ * {
      display: none;
    }
  }
</style>
