---
import {getCollection, render} from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import Image from 'astro/components/Image.astro';
import Button from "../../components/ui/Button.astro";
import {dynamicImages} from "../../lib/images.ts";
export async function getStaticPaths() {
  const stories = await getCollection('stories');
  return stories.map(item => ({
    params: {id: item.id},
    props: {item},
  }));
}
const {item} = Astro.props;
const {Content} = await render(item);
const data = item.data
const images = dynamicImages(import.meta.glob<{
  default: ImageMetadata
}>('/src/assets/stories/*.{jpeg,jpg,png,gif,svg}'))
const image = images(data.image)
const logo = images(data.logo)
---

<Layout title={item.data.title}>
    <header class="h-115 sm:h-163 relative flex flex-col justify-end">
        <Image src={image} height={652} layout="constrained" alt=""
               class="absolute inset-0 object-cover size-full z-1"/>
        <div class="flex flex-col gap-6 z-3 relative p-5 sm:mb-37 sm:container sm:py-0">
            <Image src={logo} height={23} layout="constrained" alt={`Logo ${data.company.name}`} class="intersect-once intersect:animate-slide-in"/>
            <h1 class="text-h3 text-invert font-medium sm:text-h2 intersect-once intersect:animate-slide-in motion-delay-50">{data.title}</h1>
        </div>
    </header>

    <div class="mx-5 mt-10 mb-6 flex flex-col gap-4 sm:grid grid-cols-3 sm:my-0 sm:-mt-[50px] sm:container z-5 relative sm:-translate-y-12">
      {data.impacts.map((impact, k) => (
              <div class="intersect-once intersect:animate-slide-in" style={`--motion-delay:${k * 100 + 100}ms`}>
                  <div class="text-h4 font-medium sm:text-invert">{impact.title}</div>
                  <div class="text-lg text-muted-foreground sm:text-tertiary-foreground">{impact.label}</div>
              </div>
      ))}
    </div>

    <main class="container flex flex-col gap-10 sm:grid grid-cols-[1fr_320px] sm:my-20">
        <Prose>
            <Content/>
        </Prose>
        <hr class="-mr-5 sm:hidden"/>
        <aside class="text-xs space-y-6">
            <div class="space-y-2">
                <div class="font-medium">Company name</div>
                <div class="text-muted-foreground">{data.company.name}</div>
            </div>
            <div class="space-y-2">
                <div class="font-medium">Industry</div>
                <div class="text-muted-foreground">{data.company.industry}</div>
            </div>
            <div class="space-y-2">
                <div class="font-medium">Company type</div>
                <div class="text-muted-foreground">{data.company.type}</div>
            </div>
            <div class="space-y-2">
                <div class="font-medium">About the company</div>
                <div class="text-muted-foreground">{data.company.about}</div>
            </div>
            <hr/>
            <div class="text">
                <div class="font-medium text-lg mb-1">Want to stay updated?</div>
                <p class="text-muted-foreground mb-6">Join 1,000+ founders and engineers already turning compliance
                    from a burden into a competitive advantage.</p>
                <Button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="1.33"
                              d="M14 6.67v-1.2c0-.75 0-1.12-.15-1.41a1.33 1.33 0 0 0-.58-.58c-.28-.15-.66-.15-1.4-.15H4.13c-.74 0-1.12 0-1.4.15-.25.13-.46.33-.58.58C2 4.35 2 4.72 2 5.46v5.07c0 .75 0 1.12.15 1.4.12.26.33.46.58.59.28.15.66.15 1.4.15H8"/>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="1.33" d="m2.4 4 4.92 2.93c.42.25.94.25 1.36 0L13.6 4"/>
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="1.33"
                              d="M12.67 9.33v4M14.67 11.33h-4"/>
                    </svg>
                    Stay updated
                </Button>
            </div>
        </aside>
    </main>


</Layout>

<style>
    header::after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 2;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6.73%, #000000 100%);
    }
</style>
