---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import Image from "astro/components/Image.astro";
import Button from "../../components/ui/Button.astro";
import { dynamicImages } from "../../lib/images.ts";
import Sharer from "../../components/block/Sharer.svelte";
import Newsletter from "../../components/block/Newsletter.astro";
export async function getStaticPaths() {
  const stories = await getCollection("stories");
  return stories.map((item) => ({
    params: { id: item.id },
    props: { item },
  }));
}
const { item } = Astro.props;
const { Content } = await render(item);
const data = item.data;
const images = dynamicImages(
  import.meta.glob<{
    default: ImageMetadata;
  }>("/src/assets/stories/*.{jpeg,jpg,png,gif,svg}"),
);
const image = images(data.image);
const logo = images(data.logo);
---

<Layout title={item.data.title}>
  <header class="relative flex h-115 flex-col justify-end sm:h-163">
    <Image
      src={image}
      height={652}
      layout="constrained"
      alt=""
      class="absolute inset-0 z-1 size-full object-cover"
    />
    <div
      class="relative z-3 flex flex-col gap-6 p-5 sm:container sm:mb-37 sm:py-0"
    >
      <Image
        src={logo}
        height={23}
        layout="constrained"
        alt={`Logo ${data.company.name}`}
        class="intersect-once intersect:animate-slide-in"
      />
      <h1
        class="text-h3 text-invert sm:text-h2 intersect-once intersect:animate-slide-in motion-delay-50 font-medium"
      >
        {data.title}
      </h1>
    </div>
  </header>

  <div
    class="relative z-5 mx-5 mt-10 mb-6 flex grid-cols-3 flex-col gap-4 sm:container sm:my-0 sm:-mt-[50px] sm:grid sm:-translate-y-12"
  >
    {
      data.impacts.map((impact, k) => (
        <div
          class="intersect-once intersect:animate-slide-in"
          style={`--motion-delay:${k * 100 + 100}ms`}
        >
          <div class="text-h4 sm:text-invert font-medium">{impact.title}</div>
          <div class="text-muted-foreground sm:text-tertiary-foreground text-lg">
            {impact.label}
          </div>
        </div>
      ))
    }
  </div>

  <main
    class="container flex grid-cols-[1fr_320px] flex-col gap-10 sm:my-20 sm:grid"
  >
    <Prose>
      <Content />
    </Prose>
    <hr class="-mr-5 sm:hidden" />
    <aside class="@container space-y-6 text-xs">
      <div class="space-y-2">
        <Sharer class="items-start text-start" gap={4} />
      </div>
      <div class="space-y-2">
        <div class="font-medium">Company name</div>
        <div class="text-muted-foreground">{data.company.name}</div>
      </div>
      <div class="space-y-2">
        <div class="font-medium">Industry</div>
        <div class="text-muted-foreground">{data.company.industry}</div>
      </div>
      <div class="space-y-2">
        <div class="font-medium">Company type</div>
        <div class="text-muted-foreground">{data.company.type}</div>
      </div>
      <div class="space-y-2">
        <div class="font-medium">About the company</div>
        <div class="text-muted-foreground">{data.company.about}</div>
      </div>
      <hr />
      <Newsletter />
    </aside>
  </main>
</Layout>

<style>
  header::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 6.73%, #000000 100%);
  }
</style>
